*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    padding: 20px 40px;
    background-color: chartreuse;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    animation-name: btn_animation ;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-direction: alternate;
}


@keyframes btn_animation {
   0%{
    transform: translate(0,0);
   }
   25%{
    transform: translate(300px, 0) scale(1.2);
   }
   50%{
    transform: translate(300px, 300px) scale(1.1);
    background-color: blanchedalmond;
   }
   75%{
    transform: translate(0, 300px) scale(0.7);
   }
   100%{
    transform: translate(0,0);
   }
    
}